@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:wght@300;400;500&display=swap");
body {
  background-color: black; }

.navg {
  background: orange; }
  .navg .navg a {
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    text-align: start;
    text-transform: uppercase; }

.navg:hover {
  color: black; }

.link:before {
  content: "";
  width: 0;
  height: 4px;
  background-color: black;
  position: absolute;
  bottom: 0;
  transition: all 0.5s; }
  .link:before .slider_left:before {
    left: 0; }
    .link:before .slider_left:before .slider_right:before {
      right: 0; }

.link:hover:before {
  width: 100%; }

.btn-color {
  background-color: orange; }

.btn-color:hover {
  color: white;
  font-weight: 500; }

@media (min-width: 280) and (max-width: 395px) {
  #botonera img[src="./logo/logo-anaranjado.jpg"] {
    width: 100px; } }

h1, h2, h3 {
  color: gray; }

.text {
  color: white; }

p {
  font-size: 1rem; }
